.wishlist-page {
  width: 55%;
  min-height: 71vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  background-color: rgba(254, 250, 250, 0.43);

  .test-creditcard {
    margin-top: 50px;
    font-style: italic;
    font-weight: 500;
  }

  .buyNowBtn {
    margin-left: auto;
    margin-top: 30px;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 30px;
  }
}

.wishlistHead {
  background: url("../../assets/Valley-10s-1545px.svg") no-repeat;
  background-size: cover;
}
