.center-cropped1 {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../../assets/img2.jpg");
}
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  filter: alpha(opacity=0);
  opacity: 0;
}
.center-cropped2 {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../../assets/img3.jpg");
}
.center-cropped3 {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../../assets/img4.jpg");
}
