.storeManagerMain {
  min-height: 718px;

  h1 {
    text-align: center;
    margin-top: 6.5%;
    margin-bottom: 3%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #1f83db;
  }

  .storeManagerForm {
    border-radius: 8px;
    padding: 20px 20px 10px 20px;
    border: 2px solid #007bff;
  }

  .storeManagerTable {
    border-radius: 8px;
    padding: 20px 20px 10px 20px;
    border: 2px solid #007bff;
    min-width: max-content;
  }
}
