.storeManagerMain {
  margin-top: 5%;

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5%;
    margin-left: 5%;
  }

  .storeManagerForm {
    border-radius: 4px;
    padding: 20px;
    background-color: #d8cfcf85;
  }

  .storeManagerTable {
    width: 180%;
    border-radius: 4px;
    padding: 20px;
    background-color: #d8cfcf85;
  }
}
