.storeManagerMain {
  margin-top: 2%;

  h1 {
    text-align: center;
    margin-bottom: 3%;
  }

  .storeManagerForm {
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(52, 133, 214, 0.57);
    margin-bottom: 3%;
  }

  .storeManagerTable {
    border-radius: 5px;
    padding: 20px 20px 10px 20px;
    background-color: rgba(52, 133, 214, 0.61);
    min-width: max-content;
  }
}
