.navbar-head {
  background-color: darkslategrey;

  .dripdowntoggles {
    .nav-link {
      padding: 0.5rem 1rem;
    }
  }

  .cartDropdownNavBar {
    margin-left: 3px;
    margin-right: 10px;
  }

  #wislistLink:hover {
    text-decoration: none;
  }
}
