button {
  border: none;
  background: transparent;
}

button:focus {
  outline: none !important;
}

th {
  text-align: center;
  font-size: larger !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-weight: lighter;
  color: white;
}

td {
  text-align: center;
  font-size: medium !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

tr:nth-child(even) {
  background-color: #d9f4ff !important;
}
